.chart-demo-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  // flex-direction: column;
  background: #ffffff;

  .chart-info {
    flex: 1;
    height: 100%;
    margin: 0 auto;
  }

  .chart-demo {
    flex: 1.2;
    margin: 0 auto;
    height: 100%;
  }
}
