.chart-demo-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #293c55;

  .demo-item {
    width: 100%;

    overflow: hidden;
  }

  .demo-item:nth-of-type(2n) {
    // background: #f6f6f7;
    // flex: 1;
  }

  .demo-item:nth-of-type(2n-1){
    // background: #ffffff;
  }

  .chart-demo {
    max-width: 1136px;
    margin: 0 auto;
    height: 500px;
  }

  .chart-info {
    width: 100%;
    height: 100%;
    max-width: 1136px;
    margin: 0 auto;
  }
}
