<div id="sfChart{{chartId}}" class="app-chart" [ngStyle]="style">
    <div class="tooltipBox tipBoxRight">
        <i class="blur"></i><i class="triangle-border"><i class="triangle-inner"></i></i>
    </div>
    <div class="tooltipBox tipBoxLeft">
        <i class="blur"></i><i class="triangle-border"><i class="triangle-inner"></i></i>
    </div>
    <div class="tooltipBox tipBoxTop">
        <i class="blur"></i><i class="triangle-border"><i class="triangle-inner"></i></i>
    </div>
    <div class="tooltipBox tipBoxBottom">
        <i class="blur"></i><i class="triangle-border"><i class="triangle-inner"></i></i>
    </div>
    <div class="tipBoxNormal"></div>
</div>
