/* You can add global styles to this file, and also import other style files */
@import "./style/init.scss";
@import './style/style.css';

.MB10{
  margin-bottom: 10px;
}

.MB15{
  margin-bottom: 15px;
}

.MB20{
  margin-bottom: 20px;
}
