<div class="home-wrap">
  <div class="charts-menu">
    <ul class="menu-list">
      <li *ngFor="let cardGroup of cardGroups; let i = index">
        <a href="javascript:;" (click)="selectMenu(cardGroup)">
          <i class="{{cardGroup.icon}}"></i>
          <span>{{cardGroup.groupName}}</span>
        </a>
      </li>
    </ul>
  </div>
  <div #chartsContent class="charts-content">
    <div class="groups-wrap">
      <ng-container *ngFor="let cardGroup of cardGroups">
        <card-group [group]="cardGroup"></card-group>
      </ng-container>
    </div>
  </div>
</div>
