.home-wrap {
  display: flex;
  height: 100%;
  // margin: 0 100px;

  .charts-menu {
    width: 180px;
    height: 100%;
    // border: 1px solid red;
    display: block;

    .menu-list {
      width: 100%;
      height: 100%;
      background: #293c55;

      li a {
        height: 50px;
        display: block;
        color: #ffffff;
        line-height: 50px;
        padding: 0 10px;

        i {
          display: inline-block;
          width: 32px;
          height: 32px;
          border: 1px solid #999;
          border-radius: 50%;
          font-size: 18px;
          text-align: center;
          line-height: 32px;
          vertical-align: middle;
          margin-right: 10px;
        }

        &:hover {
          background-color: #162436;
        }
      }

      li a.active {
        background-color: #e43c59;
      }
    }
  }

  .charts-content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    .groups-wrap {
      width: 100%;
      padding: 0 20px;
    }
  }
}
