<div class="home-wrap">
  <div class="charts-menu">
    <ul class="menu-list">
      <li></li>
    </ul>
  </div>
  <div class="charts-content">
    <ul #cardListElement class="chart-card-list">
      <li *ngFor="let card of cardList" class="chart-card">
        <a [ngStyle]="{'height': cardH * 0.8 + 'px', 'width': cardH + 'px'}" [routerLink]="card.link">
          <h4>{{card?.name}}</h4>
          <div class="card-img">
            <img [attr.src]="card.src" alt="图片加载失败">
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
